<div class="chessview">
    <div class="main">
        <div>
            <app-chess-player-info [darkTheme]="!isFlipped" [name]="players[globalThis.Number(!isFlipped)].name" [msTime]="timeRemaining[globalThis.Number(!isFlipped)]" [isTicking]="(game.turn() === 'b') !== isFlipped"></app-chess-player-info>
        </div>
        <div class="chessboard">
            <app-chess-board
                [position]="game.fen()"
                [isFlipped]="isFlipped"
                [checkPreventPickUp]="boundCheckPreventPickUp"
                [checkPreventMove]="boundCheckPreventMove"
                [onMove]="boundOnMove"
            ></app-chess-board>
        </div>
        <div>
            <app-chess-player-info [darkTheme]="isFlipped" [name]="players[globalThis.Number(isFlipped)].name" [msTime]="timeRemaining[globalThis.Number(isFlipped)]" [isTicking]="(game.turn() === 'w') !== isFlipped"></app-chess-player-info>
        </div>
    </div>
    <div class="sidebar">
        <app-chess-game-info></app-chess-game-info>
    </div>
</div>
