@media (max-aspect-ratio: 11/9) {
    .chessview {
        flex-direction: column;
        align-items: center;
    }
}

@media (min-aspect-ratio: 11/9) {
    .chessview {
        flex-direction: row;
        align-items: stretch;
    }
}


.chessview {
    display: flex;
    justify-content: center;
    min-width: 100%;
    min-height: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boardwrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chessboard {
    width: calc(max(min(100vw - 24px, 100vh - 240px), 300px));
    height: calc(max(min(100vw - 24px, 100vh - 240px), 300px));
}
